target/
*.iml
*.DS_store
.idea
kupkb.war
out
.svn
__MACOSX
background_data
bigowlim-3.5.3402
bridgedb-1.0.2
kupkbdb
lib
sesame2.6
openrdf-sesame-2.3.2
owlim
resonerlibs
sesame
*.tar
*.gz
*.log
*.txt
*.zip
*~
kupkb-build
owlimdb
owlim4.3
cvdkb